
html {
   scroll-behavior: smooth;
}

@font-face {
   font-family: Franklin;
   src: url(Fonts/LibreFranklin-VariableFont_wght.ttf);
}

body {
   background-color: #FFFFFF;
}

a {
   transition: all 0.1s;
}

a:link, a:visited, a:active {
   color: black;
   text-decoration: none;
}

@supports (-webkit-text-stroke: 1px black) {
   a:hover {
      -webkit-text-fill-color: #e93e37;
   }
}

.text {
   color: black;
   font-family: Franklin;
   font-weight: 300;
}

/* navigation bar */

nav.topbar {
   padding-top: 15px;
   font-size: calc(10px + 0.5vw);
   width: 80%;
   margin: auto;
   height: 45px;
   border-bottom: 4px solid black;
}

a.contact {
   margin-left: 30px;
}

.selected {
   font-weight: 500;
}

.leftalign {
   padding-left: 30px;
   float: left;
}

.rightalign {
   padding-right: 30px;
   float: right;
}

/* rest of it */

.center {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   font-size: calc(24px + 0.75vw);
   white-space: nowrap;
}

.mid {
   float: left;
   padding: 20px;
}

.footer {
   position: relative;     
   text-align: center;    
   bottom: 0px; 
   width: 100%;
   font-size: calc(0.75vw);
}

a.hamzalatif {
   text-decoration: underline;
   text-decoration-thickness: 2px;
}

a.hamzalatif:hover {
   text-decoration: none;
}

.contactcenter {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   font-size: calc(24px + 0.75vw);
   white-space: nowrap;
}

address.git {
   font-style: normal;
}

a.gitlink {
   font-style: italic;
}

.scrollimg{
   display: block;
   position: relative;
   left: 48%;
   margin-top: 800px;
}

.aboutcenter {
   margin: auto;
   padding-top: 60px;
   width: 80%;
   text-align: center;
   font-size: calc(24px + 0.75vw);
}

.about {
   margin-top: 1500px;
   position: absolute;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: calc(24px + 0.75vw);
   white-space: nowrap;
}

.aboutdetails {
   margin-top: 20px;
   font-size: calc(10px + 0.75vw);
}

@media screen and (max-height: 240px) {
   .center {
      top: 120px;
   }
}

@media screen and (max-height: 260px) {
   .contactcenter {
      top: 135px;
   }
}

@media screen and (max-height: 610px) {
   .aboutcenter {
      top: 295px;
   }
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 24%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.scroll-container {
   background-color: #333;
   overflow: auto;
   margin: auto;
   margin-top: 100px;
   white-space: nowrap;
   width: 80%;
   padding: 10px;
}

.scroll-container img {
   padding: 10px;
   max-height: 200px;
}