
body {
   background-color: #e93e37;
}

a {
   transition: all 0.1s;
}

a:link, a:visited, a:active {
   color: white;
   text-decoration: none;
}

@supports (-webkit-text-stroke: 1px black) {
   a:hover {
      -webkit-text-stroke: 1px black;
      -webkit-text-fill-color: #e93e37;
   }
}

.text {
   color: white;
   font-family: "Druk";
   text-shadow: 4px 4px #000000;
}

nav.topbar {
   padding-top: 20px;
   font-size: 20px;
   font-size: calc(13px + 0.45vw);
}

a.contact {
   margin-left: 30px;
   margin-left: 3vw
}

.leftalign {
   padding-left: 30px;
   float: left;
}

.rightalign {
   padding-right: 30px;
   float: right;
}

.center {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   text-align: center;
   font-size: 35px;
   font-size: calc(24px + 0.75vw);
   white-space: nowrap;
}

a.hamzalatif {
   text-decoration: underline;
   text-decoration-thickness: 2px;
}

a.hamzalatif:hover {
   text-decoration: none;
}

.contactcenter {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   text-align: center;
   font-size: 35px;
   font-size: calc(24px + 0.75vw);
   white-space: nowrap;
}

.portfoliocenter {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   text-align: center;
   font-size: 35px;
   font-size: calc(24px + 0.75vw);
   white-space: nowrap;
}

address.git {
   font-style: normal;
}

a.gitlink {
   font-style: italic;
}

.aboutcenter {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   text-align: center;
   font-size: 35px;
   font-size: calc(24px + 0.75vw);
   white-space: nowrap;
}

.aboutdetails {
   margin-top: 20px;
   width: 700px;
   height: 400px;
   white-space: normal;
   text-align: left;
   font-size: 22px;
}

@media screen and (max-height: 240px) {
   .center, .portfoliocenter {
      top: 120px;
   }
}

@media screen and (max-height: 260px) {
   .contactcenter {
      top: 135px;
   }
}

@media screen and (max-height: 610px) {
   .aboutcenter {
      top: 295px;
   }
}
