
html {
   scroll-behavior: smooth;
}

@font-face {
   font-family: Franklin;
   src: url(Fonts/LibreFranklin-VariableFont_wght.ttf);
}

body {
   background-color: #FFFFFF;
}

a {
   transition: all 0.1s;
}

a:link, a:visited, a:active {
   color: black;
   text-decoration: none;
}

a:hover {
   color: #e93e37;
}

.text {
   color: black;
   font-family: Franklin;
   font-weight: 300;
}

/* navigation bar */

nav.topbar {
   font-size: calc(13.6px + 0.25vw);
   width: 80%;
   margin: auto;
   height: 60px;
   border-bottom: 4px solid black;
   background-color: #FFFFFF;
}

.contact {
   margin-left: 30px;
}

.selected {
   font-weight: 500;
}

.leftalign {
   padding-left: 30px;
   float: left;
   display: flex;
}

.rightalign {
   padding-top: 15px;
   padding-right: 30px;
   float: right;
}

.logo {
   padding-top:11px;
   margin-right: 30px;
   height: 30px;
}

.home {
   padding-top: 15px;
}

/* for phone screens */

@media screen and (max-width: 630px) {

   nav.topbar {
      width: 100%;
      height: 45px;
   }

   .logo {
      padding-top: 4px;
      margin-right: 0px;
   }

   .home {
      display: none;
   }

   .leftalign {
      padding-left: 10px;
   }

   .rightalign {
      padding-top: 8px;
      padding-right: 10px;
   }
}

/* rest of it */

.center {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   font-size: calc(24px + 0.75vw);
   white-space: nowrap;
}

.mid {
   float: left;
   padding: 20px;
}

.footer {
   position: relative;     
   text-align: center;    
   bottom: 0px; 
   width: 100%;
   font-size: calc(8.6px + 0.5vw);
}

a.hamzalatif {
   text-decoration: underline;
   text-decoration-thickness: 3px;
}

a.hamzalatif:hover {
   text-decoration: none;
   font-weight: 500;
}

address.git {
   font-style: normal;
}

a.gitlink {
   font-style: italic;
}

.scrollimg{
   display: block;
   position: relative;
   left: 48%;
   margin-top: 800px;
}

.aboutcenter {
   margin: auto;
   padding-top: 60px;
   padding-bottom: 60px;
   width: 80%;
   text-align: center;
   font-size: calc(24px + 0.75vw);
}

.contactcenter {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   font-size: calc(24px + 0.75vw);
   white-space: nowrap;
}

@media screen and (max-height: 400px) {
   .contactcenter {
      top: 200px;
   }
}

.about {
   margin-top: 1500px;
   position: absolute;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: calc(24px + 0.75vw);
   white-space: nowrap;
}

.aboutdetails {
   margin-top: 20px;
   font-size: calc(13.6px + 0.25vw);
}

/* art page */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 24%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.scroll-container {
   background-color: #333;
   overflow: auto;
   margin: auto;
   white-space: nowrap;
   width: 80%;
   padding: 10px;
}

.scroll-container img {
   padding: 10px;
   max-height: 200px;
}